@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  /* Cyberpunk Colors
     https://coolors.co/gradient-maker/070213-161875-07a8a9-30c08b-fff9fd-d50196-000000-46137e?position=0,14.285714285714286,28.571428571428573,42.85714285714286,57.142857142857146,71.42857142857143,85.71428571428572,100&opacity=100,100,100,100,100,100,100,100&type=radial&rotation=90
     https://medium.com/@gokulmohanty/do-we-exist-inside-of-a-computer-simulation-67299e535c6d
     https://i.pinimg.com/originals/75/a7/b4/75a7b43b6728b39c3f9948870c7773c9.jpg
  */

  --color-tokyonight-h: 210;
  --color-tokyonight-s: 30%;

  --color-notwhite-h: 219;
  --color-notwhite-s: 25%;

  --color-lightblue-h: 191;
  --color-lightblue-s: 58%;

  --color-fuschia-h:  293;
  --color-fuschia-s: 100%;

  --color-limegreen-h: 137;
  --color-limegreen-s: 75%;

  --color-thematrix-h: 122;
  --color-thematrix-s: 77%;



  /* ANTIQUE TONES
     https://coolors.co/002642-841826-e08e00-034524-e1e4e3-d4d9d8-333433-191a18 
  */
  --antiqueRuby-h: 352.22;
  --antiqueRuby-s: 69%;
  --antiqueRuby-l: 30.59%;

  --harvestGold-h: 38.04;
  --harvestGold-s: 100%;
  --harvestGold-l: 43.92%;
  
  --forestGreen-h: 150;
  --forestGreen-s: 92%;
  --forestGreen-l: 14%;

  --prussianBlue-h: 205;
  --prussianBlue-s: 100%;
  --prussianBlue-l: 13%;
  
  --platinum-h: 160;
  --platinum-s: 5%;
  --platinum-l: 89%;

  --lightGray-h: 168;
  --lightGray-s: 6%;
  --lightGray-l: 84%;

  --onyx-h: 120;
  --onyx-s: 1%;
  --onyx-l: 20%;

  --eerieBlack-h: 90;
  --eerieBlack-s: 4%;
  --eerieBlack-l: 10%;
}

html, body {
    width: 100%;
    font-family: 'Raleway', sans-serif !important;
    font-size: 18px;
    color: hsla(var(--color-notwhite-h), var(--color-notwhite-s), 80%, 1);
    line-height: 1.75;
    word-spacing: .2rem;
    
}

body{
  background: white;

background: -moz-linear-gradient(180deg, hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),10%, 1) 0%, hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),7%, 1) 100%) ;

background: -webkit-linear-gradient(180deg, hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),10%, 1) 0%, hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),7%, 1) 100%) ;

background: linear-gradient(180deg, hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),10%, 1) 0%, hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),7%, 1) 100%) ;
}

a, a:hover {
  color: hsla(var(--color-notwhite-h), var(--color-notwhite-s), 85%, 1);
}

.background-content {
  z-index: 0;
  position: absolute;
  margin: 0 .5%;
  color: red;
  height: 100%;
}

.bootstrap-content {
  position: relative;
  z-index: 999;
}

 .navbar {
  padding: .8rem;
  background-color: hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),5%, 1);
}

.navbar-toggler{
  color: var(--color5);
  border-color:var(--color5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,250,253, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav a, .navbar-toggler {
  color: hsla(var(--color-notwhite-h), var(--color-notwhite-s), 85%, 1);
}

.navbar-nav li {
  padding-right: 20px;
  padding-left: 20px;
  color: hsla(var(--color-notwhite-h), var(--color-tokyonight-s), 80%, 1);
}

.navbar-nav li:hover {
  color: hsla(var(--color-notwhite-h), var(--color-notwhite-s), 95%, 1);
  text-shadow: 0px 0px 6px hsla(var(--color-notwhite-h), var(--color-notwhite-s), 95%, 1);
}

.nav-link {
  font-size: 1.1em !important;
}

.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  align-items: center;
  justify-content: center;
}

  
section {
  padding: 20px;
}

#about, #projects, #experience, #education, #abilities, #connect {
  align-items: center;
  justify-content: center;
  padding-left: 16.5%;
  padding-right: 10%;
}

#connect, .navbar {
background-color: hsla(var(--color-tokyonight-h),var(--color-tokyonight-s),5%, 1);
}
/*ABOUT*/

#about {
  align-items: center;
  justify-content: center;
  padding-top: 14%;
}

#about > div span {
line-height: 1;
margin: 0;
}


.headshot-container{
  position: relative;
  display: inline-block;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
#headshot {
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 8%;
}


.quote-wrapper {
  width: 516px;
  height: 443px;
  position: relative;
  margin: 0 auto 0; /*OPTIONAL MARGIN*/
  word-wrap: break-word;
}

.text {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

.text p {
  height: 100%;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0% 5%,
    95% 100%,
    0 100%
  );
  shape-margin: 0%;
}

.text p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    
    100% 5%,
    100% 100%,
    5% 100%
  );
  shape-margin: 0%;
}

/* PROJECTS */



/*EXPERIENCE*/

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 8%;
}


/*EDUCATION*/


/*ABILITIES*/
 
.col-md-6.ability {
  padding: 0rem;
}
.ability:hover {
  text-shadow: 0px 0px 6px hsla(var(--color-notwhite-h), var(--color-notwhite-s), 95%, 1);
}

.ability-name {
  float: left;
}

.ability-rank {
  float: right; 
}

.ability-positive, .ability-pos {
  color:hsla(var(--color-lightblue-h), var(--color-lightblue-s), 70%, 1);
}

.ability-neg {
    color:hsla(var(--color-lightblue-h), calc(var(--color-lightblue-s)/3), 30%, 1);
    text-shadow: none !important;
}

/*FOOTER*/

/* PLAYING AROUND WITH SHAPES*/

#cascade-bar-fuschia {
  position: absolute;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, hsla(var(--color-fuschia-h), var(--color-fuschia-s), 25%, 0) 0%, hsla(var(--color-fuschia-h), var(--color-fuschia-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  height: 100%;
  width: 2%;

  /*animation: cascade-bar-fuschia-descend 18s infinite linear;*/
}
/*
#cascade-bar-fuschia::after {
  
  content: "";
  position: absolute;
  height: 0px;
  top: 400px;
  left: 0px;
  border-top:10px solid hsla(var(--color-fuschia-h), var(--color-fuschia-s), 50%, 1);
  border-left: 5px solid transparent;
  border-bottom: 0px;
  border-right: 5px solid transparent;
}

@keyframes cascade-bar-fuschia-descend {
  0% {
    transform: translateY(0);
    opacity: -0.5;

  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(4000px);
    opacity: 0;
  }
}
*/

#cascade-bar-lime {
  position: absolute;

  left: 2%;
  background: linear-gradient(90deg, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 25%, 0) 0%, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  height: 100%;
  width: 3%;
  /*animation: cascade-bar-lime-descend 10s infinite linear;*/
}

/*
#cascade-bar-lime::after {
  border-color: linear-gradient(90deg, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 25%, 0) 0%, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  content: "";
  position: absolute;
  height: 0px;
  top: 600px;
  left: 0px;
  border-top:20px;
  border-left: 10px solid transparent;
  border-bottom: 0px;
  border-right: 10px solid transparent;
}

@keyframes cascade-bar-lime-descend {
  0% {
    transform: translateY(0);
    opacity: -0.5;

  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(4000px);
    opacity: 0;
  }
}
*/

#cascade-bar-cyan {
  position: absolute;
  right: 0;
  left: 5%;
  background: linear-gradient(90deg, hsla(var(--color-lightblue-h), var(--color-lightblue-s), 25%, 0) 0%, hsla(var(--color-lightblue-h), var(--color-lightblue-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  height: 100%;
  width: 1.5%;
  /*animation: cascade-bar-cyan-descend 8s infinite linear;*/
}

/*
#cascade-bar-cyan::after {
  
  content: "";
  position: absolute;
  height: 0px;
  top: -12px;
  left: 0px;
  border-top: 0px;
  border-left: 6px solid transparent;
  border-bottom: 12px solid hsla(var(--color-lightblue-h), var(--color-lightblue-s), 50%, 1);
  border-right: 6px solid transparent;
}

@keyframes cascade-bar-cyan-descend {
  0% {
    transform: translateY(4000px);
    opacity: -0.5;

  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}
*/

#prof-pic-top {
  position: absolute;
  background: linear-gradient(90deg, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 25%, 0) 0%, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  height: 2%;
  width: 25%;
  animation: prof-pic-top 6s infinite linear;
}

@keyframes prof-pic-top {
  0%{
    left: -50%;
    top: 0%;
  }
  45% {
    opacity: 1;
  }
  50% {
    top:0%;
    left:100%;
    opacity: 0;
  }
  

  100% {
    top:0%;
    left: 250%;
  }
}

#prof-pic-right {
  position: absolute;
  background: linear-gradient(180deg, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 25%, 0) 0%, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  height: 25%;
  width: 2%;
  animation: prof-pic-right 6s infinite linear;
}

@keyframes prof-pic-right {
  0%{
    top:-150%;
    right: 0%;
    opacity:0;
  }

  10% {
    opacity:1;
  }

  50% {
    top:2%;
    right: 0%;
  }

  100% {
    top:100%;
    right: 0%;
  }
}



#prof-pic-left {
  position: absolute;
  background: linear-gradient(180deg, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 25%, 0) 0%, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  height: 25%;
  width: 2%;
  animation: prof-pic-left 5s infinite linear;
  animation-delay: 1s;
}

@keyframes prof-pic-left {
  0%{
    left: 0%;
    top: -50%;
  }
  45% {
    opacity: 1;
  }
  50% {
    top:100%;
    left:0%;
    opacity: 0;
  }

  100% {
    top:250%;
  }
}

#prof-pic-bottom {
  position: absolute;
  
  background: linear-gradient(90deg, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 25%, 0) 0%, hsla(var(--color-thematrix-h), var(--color-thematrix-s), 40%, 1) 83%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 1) 95%, hsla(var(--color-notwhite-h),var(--color-notwhite-s),90%, 0) 100%) ;
  height: 2%;
  width: 25%;
  animation: prof-pic-bottom 5s infinite linear;
  animation-delay: 1s;
}

@keyframes prof-pic-bottom {

  0%{
    left:-150%;
    top: 98%;
    opacity:0;
  }

  10% {
    opacity:1;
  }

  50% {
  left:0%;
  }

  100% {
    left:100%;
    top: 98%;
  }
}


/* MEDIA QUERIES*/
@media (max-width: 992px) {
  .social a {
      font-size: 4em;
      padding:  2rem;
  }
  }
  
  
  @media (max-width: 768px) {

      .disp-4 {
          font-size: 200%;
      }
  
      .social a {
          font-size: 2.5em;
          padding:  1.2rem;
      }

      .card-title {
        font-size: 1.25rem;
      }
      .card-text {
        font-size: .9rem;
      }

  }
  
  @media (min-width: 576px) {
    .edu-more-info{
      display: none;
      padding: 0px;
    }

    .ability-name {
      padding-left: 5%;
    }
    
    .ability-rank { 
      padding-right: 5%;
    }

  }

  @media (max-width: 576px) {

    .background-content {
      display: none;
    }
      .disp-4 {
          font-size: 160%;
      }
  
      .social a {
          font-size: 2rem;
          padding: .7rem;
      }
      .edu-summary {
        display: none;
      }

      .sticky {
        position: relative;
      }

      .quote-wrapper {
        width: auto;
        height: auto;
      }
      
      .text::before {
        width: 0;
        height: auto;
        shape-outside: none;
      }

      .text p::before {
        width: 0;
        height: auto;
        shape-outside: none;
      }

  }

  [class*="col-"] {
    padding: 1rem;
  }
  